<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITradingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56978/TradingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITradingService"
                contract="ITradingService" name="BasicHttpBinding_ITradingService" />
        </client>
    </system.serviceModel>
</configuration>